* {
    font-family: 'poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .6s;
}

.container {
    min-height: 100vh;
    width: 100%;
    background: url('https://drive.google.com/uc?export=view&id=1euiZNblW9OrIXz8kqz-NOqYdGH84oktG') no-repeat;
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    animation: animateBg 5s linear infinite;
}

@keyframes animateBg {
    100% {
        filter: hue-rotate(360deg);
    }
}

.box {
    height: 500px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #fff;
    backdrop-filter: blur(5px);
    border-radius: 12px;
    overflow: hidden;
}

.loginbox {
    padding: 4%;
}

/* .signupbox {
    padding: 4%;
} */

.details {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 4px;
}

.box-wrapper {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 8px;
}

.remember-forgot {
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

input {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background-color: #fff;
    padding: 0 8px;
    border-radius: 5px;
}

input::placeholder {
    transition: .6s;
}

.box-wrapper:hover input::placeholder {
    position: absolute;
    top: -12px;
    opacity: 0;
}

label {
    position: absolute;
    top: -20px;
    left: 0;
    color: rgba(0, 0, 0, 0.8);
    opacity: 0;
}

.box-wrapper:hover label {
    top: -25px;
    opacity: 1;
}

button {
    width: 100%;
    height: 50px;
    border: none;
    background-color: #32349b;
    font-size: 1.3rem;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    border-radius: 8px;
}

h2 {
    color: #fff;
    font-size: 2.7rem;
}

p {
    font-weight: 500;
}

p,
p a {
    color: #fff;
    letter-spacing: 0.12;
}

p a {
    color: rgba(6, 6, 198, 0.8);
    font-weight: 800;
    margin-left: 8px;
    text-decoration: none;
}

.dtsignin {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12% 15%;
}

.dtsignup {
    position: absolute;
    top: 0;
    right: -100%;
    padding: 12% 15%;
}

.callsg {
    right: 100%;
}

.setsg {
    right: 0;
}

@media (max-width:500px) {
    .box {
        width: 300px;
    }

    .dtsignin {
        padding: 16% 8%;
    }

    .dtsignup {
        padding: 18% 10%;
    }

}